[MAIN]
disable=
    C0116, # __str__ does not return str
    C0115, # some comment
    C0114, # some comment
    R0903, # class method 
    C0304, # new line missing
    E1101, # alembic import
    C0103, # const name
    C0412, # import group